.cards {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 6rem 10rem 0rem 10rem;
}

.jerryContainer {
  position: fixed;
  left: 0;
  top: 8rem;
}

.jerry {
  position: absolute;
  width: 10rem;
  animation-name: falling;
  animation-duration: 7s;
  animation-fill-mode: solid;
  animation-iteration-count: infinite;
}

@keyframes falling {
  50% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 0;
    transform: translateY(0vh);
  }
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: url(../images/wave.svg);
  background-size: 1000px 75px;
}

.wave1 {
  animation: animate 30s linear infinite;
  animation-delay: 0s;
  bottom: 0;
  opacity: 1;
  z-index: 1000;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

.wave2 {
  animation: animate2 15s linear infinite;
  animation-delay: -5s;
  bottom: 10px;
  opacity: 0.5;
  z-index: 999;
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

.wave3 {
  animation: animate 30s linear infinite;
  animation-delay: -2s;
  bottom: 15px;
  opacity: 0.2;
  z-index: 998;
}

.wave4 {
  animation: animate2 5s linear infinite;
  animation-delay: -5s;
  bottom: 20px;
  opacity: 0.7;
  z-index: 997;
}
