.searchBar input {
  background-color: #e7e7e6;
  border: none;
  caret-color: var(--purple);
  color: var(--purple);
  width: 100%;
  outline: none;
}

.searchBar input:focus ~ .button-search {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

.searchBar form {
  align-items: center;
  background-color: #e7e7e6;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  border-image: linear-gradient(
      1turn,
      rgba(116, 9, 121, 1),
      rgba(185, 8, 246, 1),
      rgba(91, 28, 230, 1)
    )
    1 / 3px;
  border-style: solid;
  box-shadow: 0px 0px 30px 0px RGBA(154, 53, 239, 0.5);
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all ease-in-out 0.5s;
  margin: 0 auto;
}

.searchBar form:hover {
  box-shadow: 0px 0px 30px 0px RGBA(154, 53, 239, 0.8);
}

.searchBar button {
  width: 2rem;
  background: none;
  border: none;
}

button img {
  width: 100%;
  cursor: pointer;
}

@media (min-width: 900px) {
  .searchBar form {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 15rem;
  }
}


