* {
  font-family: "Roboto", sans-serif;
  --blue: #030328;
  --purple: #9A35EF;
  --green: #43D018;
}

body {
  background-color: var(--blue);
}

.jerry-container {
  position: fixed;
}

.jerry {
  position: absolute;
  width: 10rem;
  top: 10rem;
  animation-name: falling;
  animation-duration: 7s;
  animation-fill-mode: solid;
  animation-iteration-count: infinite;
}

@keyframes falling {
  50% {
    opacity: 0;
    transform: translateY(100vh);
  }

  100% {
    opacity: 0;
    transform: translateY(0vh);
  }
}

